* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: rgba(0, 0, 0, 0.836);
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  max-width: 370px;
  min-width: 210px;
  border: solid 2px rgba(255, 140, 0, 0.808);
  border-radius: 8px;
}
