.keyboard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 0.541);
    color: black;
    padding: 0.5em;
    flex: 4;
}
.key, .mathKey {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.726);
    color: black;
    padding: 0.5em;
    flex: 1 1 80px;
    border-style: solid;
    border-color: black;
}
.mouseover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(125, 230, 99, 0.726);
    color: black;
    padding: 0.5em;
    flex: 1 1 80px;
    border-style: solid;
    border-color: black;
}

.mousedown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(125, 230, 99);
    color: black;
    padding: 0.5em;
    flex: 1 1 80px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
}
